:root {
  
  --clr-accent-400: hsl(75, 94%, 57%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-primary-400: hsl(0, 0%, 20%);
  --clr-primary-700: hsl(0, 0%, 12%);
  --clr-primary-900: hsl(0, 0%, 8%);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-regular: .875rem;

}




/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }

  html {
    height: 100%;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100%;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* General Styling */

body {
  background-color: var(--clr-primary-900);
  font-family: 'Inter', sans-serif;
  display: grid;
  place-items: center;
  text-align: center;
}

.card {
  background-color: var(--clr-primary-700);
  padding: 1.5rem;
  border-radius: .5rem;
  margin-inline: 1rem;
  max-width: 720px;
  margin-inline: 1.5rem;
}

@media screen and (min-width: 600px) {
  .card {
    width: 400px;
    padding-inline: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

img {
  border-radius: 50%;
  max-width: 6.25rem;
  margin: auto;
}

figure {
  padding-bottom: 1.75rem;
}

.name {
  color: var(--clr-neutral-100);
  font-size: 1.5rem;
  opacity: .8;
  padding-bottom: .25rem;
}

.location {
  color: var(--clr-accent-400);
  font-size: var(--fs-regular);
  opacity: .8;
  padding-bottom: 1.5rem;
}

.quote {
  color: var(--clr-neutral-100);
  opacity: .6;
  padding-bottom: 1.5rem;
  padding-inline: .5rem;
  font-size: var(--fs-regular);
}

@media screen and (min-width: 600px) {
  .quote {
    padding-inline: 0rem;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.socials a {
  text-decoration: none;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  border-radius: .5rem;
  opacity: .8;
  font-weight: var(--fw-bold);
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.socials a:is(:hover, :focus) {
  background-color: var(--clr-accent-400);
  color: black;
  cursor: pointer;
}





.attribution { 
    font-size: 11px; text-align: center; 
    color: var(--clr-neutral-100);
    position: relative;
    bottom: 30px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}